@import '../../styles/variables';

.main-header {
  background-color: var(--dark-navy);
  padding: var(--spacing-sm) 0;
  position: sticky;
  top: 0;
  z-index: var(--z-sticky);

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: $breakpoint-tablet) {
      flex-direction: column;
      align-items: center;
      gap: var(--spacing-sm);
      margin-top: var(--spacing-sm);
    }
  }

  &__logo {
    font-size: var(--font-size-3xl);
    font-weight: var(--font-weight-bold);
    color: var(--white);
    text-decoration: none;
  }

  &__search {
    flex-grow: 1;
    max-width: 500px;

    @media (max-width: $breakpoint-tablet) {
      width: 100%;
    }

    // Override SearchBar margin
    .search-bar {
      margin-bottom: 0;
      padding: var(--spacing-sm) 0;
    }
  }
}
